<!DOCTYPE html>
<html>
<head>
    <title>Resume Versions</title>
</head>
<body>

<h1>Resume Version History</h1>

<hr>

<a href="/dashboard">Dashboard</a> |
<a href="/resume">Create Resume</a>

<hr>

<form method="GET" action="/versions">

    <input
        type="text"
        name="search"
        placeholder="Search by name"
    >

    <button type="submit">
        Search
    </button>

</form>

<br>

<table border="1" cellpadding="10">

<tr>
    <th>Version</th>
    <th>Name</th>
    <th>Skills</th>
    <th>Restore</th>
    <th>Delete</th>
    <th>TXT</th>
    <th>PDF</th>
</tr>

{% for resume in resumes %}

<tr>

    <td>{{ resume[5] }}</td>
    <td>{{ resume[1] }}</td>
    <td>{{ resume[2] }}</td>

    <td>
        <a href="/restore/{{ resume[0] }}">
            Restore
        </a>
    </td>

    <td>
        <a href="/delete/{{ resume[0] }}">
            Delete
        </a>
    </td>

    <td>
        <a href="/download/{{ resume[0] }}">
            TXT
        </a>
    </td>

    <td>
        <a href="/pdf/{{ resume[0] }}">
            PDF
        </a>
    </td>

</tr>

{% endfor %}

</table>

</body>
</html>